*{
  box-sizing: border-box;
  margin: 0;
  padding:0;
  font-family: 'Open Sans', sans-serif;
}

.clear{
  clear: both;
}

body{
  background-color: #fde9eb;
}

.wrapper{
  width: 1000px;
  margin: auto;
}

header{
  margin: 2% 5%;
}

header img{
  width: 50%;
  display: block;
  margin: auto;
}

/* VIDEO NAVIGATION BAR  */
}
.container-video{
  width: 100%;
}

.video-block{
  float: left;
  width: 20%;
  background-color: black;

  border: 2px solid black;
  position: relative;
}

.video-img{
  width: 100%;
}

.text-video{
  color:white;
  font-weight: bold;
  font-size: 14px;
  width: 70%;
  position: absolute;
  bottom: 0;
}

.fas.fa-play{
  font-size: 14px;
  color:white;
  border: 1.5px solid white;
  border-radius: 2px;
  padding: 2%;
  position: absolute;
  bottom: 5%;
  right: 5%;
}

/* MENU-BLOCK  */
.menu-block{
  width: 15%;
  height: 110vh;
  margin-top: 5%;
  border-right: 1.5px solid grey;
  float: left;
}

.header-menu{
  padding-bottom: 5%;
  border-top: 2px solid black;
  border-bottom: 1.5px solid grey;
}

#menu-title,.fas.fa-home{
  font-weight: bolder;
  vertical-align: middle;
}

li{
  list-style-type: none;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 2%;
}

.list-item{
  position: relative;
}

li .live{
  font-size: 10px;
  color: white;
  background-color: red;
  padding: 1%;
  border-radius: 2px;
  position: absolute;
  right: 3%;
}
/* FIRST COLUMN  */

.first-column{
  width: 45%;
  margin-top: 5%;
  margin-left: 2%;
  float: left;
}

#img-block1{
  width:100%;
}

.block1{
  position: relative;
  background-color: black;
}

.text-content{
  width: 90%;
  position: absolute;
  bottom: 0;
  left: 2%;
  color: white;
}

.first-column .block1 .up-header{
  font-size: 14px;
  font-weight: bolder;
  background-color: #f27800;
}

.subtitle{
  font-size: 16px;
  margin-top: 3%;
}

.text-orange{
  color: #f27800;
  font-size: 14px;
  font-weight: bolder;
}

.data{
  font-size: 14px;
}

.appendix-text{
  font-size: 12px;
  font-weight: bold;
}

.fas.fa-align-left{
  color: #f27800;
}

.fas.fa-thumbs-up{
  color: #f27800;
  background-color: white;
  position: absolute;
  font-size: 18px;
  right: 1%;
  top: 1%;
  padding:1%;
  border-radius: 3px;
}

.appendix.bg-black{
  color:white;
  background-color: rgba(0, 0, 0, 0.9);
}

/* BLOCK 2 */

.block2 .block-content{
  margin-top: 5%;
}

.block-content{
  width: 46%;
  float: left;
}

.block2 .block-content.left img{
  width: 100%;
}

.block2 .block-content.right img{
  width: 100%;

}

.block2 .block-content .title-article{
  font-size: 18px;
  font-weight: bolder;
}

.first-column{
  position: relative;
}

 .block-content.right{
  float:right;
}

.fab{
  color: #f27800;
}

/* SECOND COLUMN */
.second-column{
  width: 35%;
  margin-top: 5%;
  margin-left: 2%;
  float: left;

}

.second-column img{
  width:100%;
}

.subtitle.bold{
  font-weight: bold;
}

.appendix-text.aside-column{
  font-weight: bolder;
  margin-right: 10%;
}

.second-column .bottom-box{
  margin-top: 15%;
}

.second-column .bottom-box img{
  width:100%;
  border: 1.5vw solid rgba(255, 129, 142, 0.4);
}

/* FOOTER  */

footer{
  border-top: 1.5px solid grey;
  position: relative;
}

footer img{
  display: block;
  margin: auto;
  margin-top: 2%;
  position: absolute;
  right:8%;
}
